name: CI build and push

concurrency:
  group: ci-${{ github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
      - v[0-9]+
      - v[0-9]+.[0-9]+
      - cryostat-v[0-9]+.[0-9]+

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      project-version: ${{ steps.get-version.outputs.project-version }}
    steps:
    - uses: actions/checkout@v6
    - id: get-version
      run: |
        PROJECT_VERSION="$(mvn -Psnapshots help:evaluate -Dexpression=project.version -q -DforceStdout)"
        echo "project-version=${PROJECT_VERSION}" >> "${GITHUB_OUTPUT}"

  publish-snapshot:
    needs: get-version
    uses: ./.github/workflows/maven-central-publish.yml
    secrets: inherit
    with:
      publish-cmd: './release-snapshot.sh'
    if: ${{ github.repository_owner == 'cryostatio' && endsWith(needs.get-version.outputs.project-version, '-SNAPSHOT') }}
